.model {
    background: url("../../assets/car_tab_bg.png");
    background-repeat: no-repeat;
    background-position: 0 85%;
}

.model .ModelBox {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}