.heading {
    text-align: center;
    padding-bottom: 20px;
}

.heading h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 700;
    text-transform: capitalize;
}

.heading h2 {
    margin: 0;
    font-size: 44px;
    font-family: 'Rubik';
    font-weight: 800;
    text-transform: capitalize;
}