.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
}

.navbar .logo img {
    width: 150px;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar nav a {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Rubik';
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #000;
    transition: all .3s ease;
}

.navbar nav a:hover {
    color: var(--textOrange);
}

.navbar nav a.active {
    color: var(--textOrange);
}

.navbar .navBtn {
    border-radius: 34px;
    padding: 14px 30px;
}