.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.about .image {
    width: 100%;
}

.about .image img {
    width: 100%;
    border-radius: 5px;
}

.about .content {
    width: 100%;
    padding-right: 100px;
}

.about .content h4 {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Roboto';
    margin: 0;
    margin-bottom: 10px;
}

.about .content h2 {
    font-size: 46px;
    font-weight: 700;
    font-family: 'Rubik';
    margin: 0;
    margin-bottom: 30px;
}

.about .content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
    color: #777;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.about .content .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 50px;
}

.about .content .section img {
    margin-bottom: 10px;
}

.about .content .section .text {
    display: flex;
    align-items: center;
    gap: 15px;
}

.about .content .section .text h2 {
    margin: 0;
    font-size: 44px;
    font-weight: 700;
    font-family: 'Rubik';
}

.about .content .section .text span {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #555;
}

/* =============== Responsive ====================== */
@media (max-width: 1199.98px) {
    .about .content {
        padding-right: 50px;
    }

    .about .content h4 {
        font-size: 20px;
    }

    .about .content h2 {
        font-size: 40px;
    }

    .about .content p {
        font-size: 14px;
        line-height: 22px;
    }

    .about .content .section .text {
        gap: 10px;
    }

    .about .content .section .text h2 {
        font-size: 34px;
    }

    .about .content .section .text span {
        font-size: 14px;
    }
}

@media (max-width: 991.98px) {
    .about {
        align-items: start;
        gap: 50px;
    }

    .about .content {
        padding-right: 20px;
    }
}

@media (max-width: 870.98px) {
    .about .content h4 {
        font-size: 16px;
    }

    .about .content h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .about .content p {
        font-size: 12px;
        line-height: 20px;
    }

    .about .content .section {
        gap: 30px;
        margin-top: 20px;
    }

    .about .content .section img {
        width: 40px;
    }

    .about .content .section .text h2 {
        font-size: 30px;
    }

    .about .content .section .text span {
        font-size: 12px;
    }
}

@media (max-width: 767.98px) {
    .about {
        flex-flow: row wrap;
        gap: 50px;
    }

    .about .image img {
        width: 100%;
    }

    .about .content {
        padding: 0;
    }

    .about .content h4 {
        font-size: 22px;
    }

    .about .content h2 {
        font-size: 46px;
        margin-bottom: 30px;
    }

    .about .content p {
        font-size: 16px;
        line-height: 26px;
    }

    .about .content .section {
        gap: 30px;
        margin-top: 40px;
    }

    .about .content .section img {
        width: auto;
    }

    .about .content .section .text h2 {
        font-size: 44px;
    }

    .about .content .section .text span {
        font-size: 16px;
    }
}

@media (max-width: 425.98px) {
    .about .content h4 {
        font-size: 16px;
    }

    .about .content h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .about .content p {
        font-size: 14px;
        line-height: 22px;
    }

    .about .content .section {
        flex-flow: row wrap;
        gap: 10px;
        row-gap: 30px;
        margin-top: 30px;
    }

    .about .content .section div {
        flex-basis: 5%;
    }

    .about .content .section .text {
        gap: 15px;
    }

    .about .content .section .text h2 {
        font-size: 40px;
    }

    .about .content .section .text span {
        font-size: 15px;
    }

}